<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <fieldset>
    <legend>Create your Login Information</legend>
    <div class="span4">
      <%= f.input :email, :required => true %>
    </div>
    <div class="span4">
      <%= f.input :password, :required => true %>
    </div>
    <div class="span3">
      <%= f.input :password_confirmation, :required => true %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Basic Company Information</legend>
    <div class="span4">
      <%= f.input :name, :required => true, :label => "Company Name" %>
      <%= f.input :state, :as => :select, :collection => us_states, :required => true %>
    </div>
    <div class="span4">
      <%= f.input :street_address, :required => true, :label => "Primary Business Address" %>
      <%= f.input :zip_code, :as => :string, :required => true %>
    </div>
    <div class="span3">
      <%= f.input :city, :required => true %>
      <%= f.input :coverage_radius, :as => :select, :collection => coverage_radius_options, :label => "Coverage Radius ( in miles )" %>
    </div>
  </fieldset>
  <div class="divider"></div>
  <div class="span7">
    <%= f.input :terms, :label => "By clicking this box, you understand and are agreeing to all the items outlined in the Contractor Code of Business Practices and Application Requirements and give us permission to contact the references given in your application." %>
  </div>
<div class="clearfix"></div>
</div>
<div class="divider"></div>
  <%= f.button :submit, "Sign Up", :class => "btn btn-primary btn-large" %>
<% end %>
