<div class="tab-pane" id="profile">
  <%= simple_form_for @contractor, :remote => true, :html => { :method => "put"} do |f| %>
    <%= render "contractors/dashboard/toolbar" %>
    <%=f.input :description, :class => "span8", :rows => "10", "data-ideal" => "required", :input_html => { :id => "wysihtml5-textarea" }, :label => false %>
  <div class="clearfix"></div>
  <div class="divider"></div>
  <%= f.submit 'Update Profile', :class => "btn btn-primary" %>
  <% end %>
</div><!-- home-tab -->
<script>
  $(document).ready(function() {
    var editor = new wysihtml5.Editor("wysihtml5-textarea", {
      toolbar:      "wysihtml5-editor-toolbar",
      // stylesheets:  "<%= stylesheet_path('wysiwyg') %>",
      parserRules:  wysihtml5ParserRules
    });
  });
</script>