<div class="tab-pane" id="company_info">
  <%= simple_form_for @contractor, :remote => true, :html => { :method => "put"} do |f| %>

    <fieldset>
      <legend>Upload your logo: <a class="fs-toggle btn btn-mini pull-right" data-target="#logo_fs">toggle</a></legend>
      <div class="span3" id="logo_fs">
        <%- unless @contractor.logo.blank? %>
        <%= filepicker_image_tag @contractor.logo, w: 200, h: 100, fit: 'clip', :class => "thumbnail", :id => "dashboard-logo" %>
        <% else %>
        <img src="" id="dashboard-logo" class="hide thumbnail" alt="">
        <% end %>
        <%= f.label :logo %>
        <%= f.filepicker_field :logo, :button_class => "btn btn-primary", :input_html => { :tabindex => 1 } %>
        <div class="divider"></div>
      </div>
      <div class="clearfix"></div>
    </fieldset>
      <fieldset>
      <legend>Trades: <a class="fs-toggle btn btn-mini pull-right" data-target="#trades_fs">toggle</a></legend>
      <div id="trades_fs">
        <%= f.input :trade_ids, :as => :check_boxes, :collection => Trade.all, :label => "Trades:" %>
        <div class="divider"></div>
      </div><!-- trades_fs -->
    </fieldset>
    <fieldset>
    <legend>Basic Company Information: <a class="fs-toggle btn btn-mini pull-right" data-target="#company_fs">toggle</a></legend>
    <div id="company_fs">
    <div class="span4">
      <%= f.input :name, :input_html => { :tabindex => 2 } %>
      <%= f.input :business_legal_name, :input_html => { :tabindex => 5 } %>
      <%= f.input :owner_first_name, :input_html => { :tabindex => 8 } %>
      <%= f.input :business_tax_id_no, :input_html => { :tabindex => 11 } %>
       <%= f.input :contractor_license_number, :input_html => { :tabindex => 14 } %>
    </div>
    <div class="span4">
      <%= f.input :coverage_radius, :as => :select, :collection => coverage_radius_options, :label => "Coverage Radius ( in miles )", :input_html => { :tabindex => 3 } %>
      <%= f.input :business_dba_name, :input_html => { :tabindex => 6 } %>
      <%= f.input :owner_last_name, :input_html => { :tabindex => 9 } %>
      <%= f.input :gross_annual_sales_last_year, :input_html => { :tabindex => 12 } %>
      <%= f.input :website_url, :input_html => { :tabindex => 15, :placeholder => "http://" } %>
    </div>
    <div class="span3">
      <%= f.input :date_of_incorporation, :as => :string, :input_html => { :tabindex => 4 } %>
      <%= f.input :owner_phone, :as => :string, :input_html => { :tabindex => 7 } %>
      <%= f.input :number_of_employees, :as => :string, :input_html => { :tabindex => 10 } %>
      <%= f.input :owner_email, :as => :string, :input_html => { :tabindex => 13 } %>
    </div>
  </div><!-- company_fs -->
  </fieldset>
  <div class="clearfix"></div>
  <div class="divider"></div>
  <%= f.submit :class => "btn btn-primary", :tabindex => 16 %>
  <% end %>
</div><!-- home-tab -->