<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @estimate.project_id %>
</p>

<p>
  <b>Adjuster:</b>
  <%= @estimate.adjuster_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @estimate.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @estimate.description %>
</p>

<p>
  <b>Document:</b>
  <%= @estimate.document %>
</p>


<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
