.span8
  #estimate-upload-success.alert.alert-success.hide Estimate successfully uploaded!
  - if @adjuster.license.blank?
    #license-alert.alert.alert-error
      You need to complete your licensing information!
  %ul#adjuster-tabs.nav.nav-tabs
    %li.active
      = link_to "News", dashboard_adjuster_path(@adjuster)
    %li
      = link_to "Assignments", assignments_adjuster_path(@adjuster)
    %li
      = link_to "Estimates", estimates_adjuster_path(@adjuster)
    %li
      = link_to "Edit Profile", edit_profile_adjuster_path(@adjuster)
  .tab-content
    #news.tab-pane.active
      %p
        Assignments needing estimates: #{@assignments.size}
= render 'sidebar'
