.span8
  #estimate-upload-success.alert.alert-success.hide Estimate successfully uploaded!
  - if @adjuster.license.url.blank?
    #license-alert.alert.alert-error
      You need to complete your licensing information!
  %ul#adjuster-tabs.nav.nav-tabs
    %li
      = link_to "News", dashboard_adjuster_path(@adjuster)
    %li
      = link_to "Assignments", assignments_adjuster_path(@adjuster)
    %li.active
      = link_to "Estimates", estimates_adjuster_path(@adjuster)
    %li
      = link_to "Edit Profile", edit_profile_adjuster_path(@adjuster)
  .tab-content
    #estimates
      %p This area is for any needed updates or changes, which would need to be made to any particular estimate.
      %p Please make sure that the number you entered for the project matches the estimate uploaded.
      %hr
      %table#adjuster-dashboard-assignments.table.table-hover
        %thead
          %tr
            %th Date
            %th Amount
            %th Description
            %th Actions
        %tbody#adjuster_estimates_wrap
          - if @estimates.any?
            = render @estimates
= render 'estimates/new_estimate_modal'
= render 'estimates/edit_estimate_modal'
= render 'sidebar'
