- if @project.needs_contractor
  - unless @project.has_contractor
    .alert.alert-error
      You need to select a contractor!
- if @project.needs_vendors
  - if @project.vendors.blank? || @project.has_excess_funds
    #need-vendor-alert.alert.alert-error
      You need to add some vendors!
.clearfix
%ul.nav.nav-tabs
  %li
    = link_to "Home", dashboard_project_path(@project), class: "#{active_class?(dashboard_project_path(@project))} btn btn-success"
  %li
    = link_to "Edit", edit_project_path(@project), class: "#{active_class?(edit_project_path(@project))} btn btn-success"
  %li
    = link_to "Share", share_project_path(@project), class: "#{active_class?(share_project_path(@project))} btn btn-success"
  %li
    = link_to "Settings", settings_project_path(@project), class: "#{active_class?(share_project_path(@project))} btn btn-success"
  %li
    = link_to "Galleries", project_galleries_path(@project), class: 'btn btn-success'
  - if @project.needs_contractor
    %li
      = link_to "Contractor", contractor_project_path(@project), class: "#{active_class?(contractor_project_path(@project))} btn btn-success"
  - if @project.needs_vendors
    %li
      %a.btn.btn-success{"data-target" => "#vendors"}
        Vendors (
        %span#vendors-count>= @vendors.size
        )
  - if @project.has_estimate?
    %li
      %a.btn.btn-success{"data-target" => "#estimates"} Estimates
