#edit.tab-pane
  #project_edit_form_wrap
    = simple_form_for @project, :remote => true, :html => { :method => "put"} do |f|
      %fieldset
        %legend
          Project Category
          %small Select all that apply
        = f.association :categories, :as => :check_boxes, :label => false
        .divider
      .clearfix
      %fieldset.span8.np-section
        %legend Project Info
        #goal_amount_wrap.input-prepend.input-append
          %span#dollar-prepend.add-on $
          = f.text_field :goal_amount, disabled: true, :placeholder => "Goal Amount", :id => "appendedPrependedInput"
          %span#cents-append.add-on .00
        = f.input :page_title, :placeholder => "Page Title", "data-ideal" => "required", :input_html => { :maxlength => 60, :class => "input-large" }
        .clearfix
        = f.input :page_message, :class => "edit_project_content ckeditor", :rows => "10", "data-ideal" => "required", :input_html => { :id => "project_page_message" }, :label => false
        .clearfix
        %p
          %small Make this project private. ( Your project will not show up in searches )
        .make-switch{"data-off-label" => "NO", "data-on-label" => "YES"}
          = f.check_box :private, :label => "Make this project private"
        .divider
      .clearfix
      %fieldset#address_info_wrap.span8.np-section
        %legend
          Address Info
          %small Required for mailing checks
        .span4
          = f.input :street_address, :placeholder => "Street Address", :label => "Street Address"
          = f.input :state, :as => :select, :collection => us_states, :placeholder => "State", :selected => @user.state, :input_html => { :value => "#{@user.state}" }
        / span4
        .span4
          = f.input :city, :placeholder => "City", :input_html => { :value => "#{@user.city}" }
          = f.input :zip_code, :as => :string, :placeholder => "Zip Code"
        / span4
        .clearfix
        .divider
      / address_info_wrap
      %fieldset.span8.np-section
        %legend Media
        %p
          %small Here you can upload an image for your Action or add a YouTube video.
        %ul#media_select
          %li
            %input{name: "media", type: "radio", value: "image"}>/
            I want to upload an image
          %li
            %input{name: "media", type: "radio", value: "video"}>/
            YouTube/Vimeo Video
        .clearfix
        - unless @project.featured_image.blank?
          .logo-preview{class: '("hide" unless @project.featured_image)'}
            = filepicker_image_tag @project.featured_image, w: 150, h: 150, fit: 'crop', align: 'faces', cache: true, class: 'thumbnail'
        #upload_options_wrap
          #featured_upload
            = f.label :featured_image, "Upload Your Image:"
            = f.filepicker_field :featured_image, :button_class => "btn btn-primary", store_location: "S3", store_access: "public", extensions: ".jpg,.png,.gif,.jpeg", onchange: "updateLogoPreview(event);"
          / featured_upload
          #youtube_add.hide
            %div
              = f.input :featured_video, :placeholder => "YouTube/Vimeo Link", :label => false
      .clearfix
      .divider
      .span8.np-section
        = f.submit "Update", :class => "btn btn-primary", "data-disable-with" => "Updating..."
= render 'shared/filepickerjs'
