<div class="modal hide fade" id="donate_modal">
<% @donation = Donation.new %>
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal">&times;</button>
    <h3>Donate</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for @donation, :remote => true, :html => { :class => "form-horizontal"} do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :stripe_card_token %>

    <% if @donation.stripe_card_token.present? %>
    Credit card has been provided.
    <%- else %>
    <fieldset>
      <legend>Required Fields</legend>
      <%= f.input :amount, :as => :string %>
      <div class="control-group string required card_number">
<%= label_tag :card_number, "Credit Card Number", :class => "string required control-label" %>
<div class="controls">
<%= text_field_tag :card_number, nil, name: nil, :class => "string required" %>
</div>
</div>
   <div class="control-group string required card_code">
<%= label_tag :card_code, "Security Code on Card (CVV)", :class => "string required control-label" %>
<div class="controls">
<%= text_field_tag :card_code, nil, name: nil, :class => "input-small string required" %>
</div>
</div>
    <div class="control-group string required card_expiration">
<%= label_tag :card_month, "Card Expiration", :class => "string required control-label" %>
<div class="controls">
<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :class => "input-medium"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => "input-medium"} %>
</div>
</div>
    </fieldset>
    <fieldset>
      <legend>Optional Fields</legend>
      <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :zip_code, :as => :string %>
    </fieldset>


    <% end %>
    <div class="divider"></div>
    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <%= f.button :submit, "Donate", :class => "btn btn-primary" %>
    <% end %>

  </div><!-- modal-body -->
</div><!-- modal -->