#root_footer
#footer
  %footer
    .container
      .footer_widget.span3
        %h3 Why we rock!
        .textwidget
          %p Compassion for Humanity is the World's first Premium Non-Profit Charitable Crowdfunding Organization. All gifts are tax deductible. We bring compassionate people together with those who need compassion. Click the "Create Action" button today and help change the world.
      .footer_widget.span3
        .menu-footer-container
          - unless user_signed_in? || contractor_signed_in? || adjuster_signed_in?
            %ul
              %li= link_to "Register as an Adjuster", new_adjuster_registration_path
              %li= link_to "Adjuster Log In", adjuster_session_path
              %li= link_to "Contractor Log In", contractor_session_path
      .footer_widget.span5.pull-right#footer-deductible
        %p *All gifts are tax deductible in the United States as allowed by law. Compassion for Humanity, inc. is recognized by the Internal Revenue Service as a 501(c)3 tax-exempt charity.
  .copyright
    .container
      %p
        &copy; #{footer_year} compassionforhumanity.org ||
        #{link_to "Website Policies", page_path('website-policies')}
      .clearfix
= yield :scripts
