.navbar-wrapper
  .container
    .logo-wrapper
      %a{href: "/"}
        = image_tag "logo.png"
    .navbar.navbar-inverse
      .navbar-inner
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        .nav-collapse.collapse
          .menu-header
            %ul.nav
              %li
                = link_to "Home", "/", :class => current_class?(root_path)
              %li
                = link_to "About", page_path('about-compassion-for-humanity'), :class => current_class?(page_path('about-compassion-for-humanity'))
                %ul.sub-menu.dropdown-menu
                  %li
                    = link_to "Purpose of CFH", page_path('the-purpose-of-compassion-for-humanity')
              %li
                = link_to "How it Works", page_path('how-it-works'), :class => current_class?(page_path('how-it-works'))
              %li
                = link_to "Contractors", contractors_path, :class => current_class?(contractors_path)
              %li
                = link_to "You Can Help", page_path('you-can-help'), :class => current_class?(page_path('you-can-help'))
