- if @page_class == 'strip-mini'
  %div{id: "mini-strip", class: "row page-title #{@page_class}"}
%div{class: "row page-title"}
  .container
    %h1
      = @page_title
      = yield :user_info
    = yield :contractor_login_button
    = yield :action_buttons
    = yield :category_header_description
    = yield :back_to_project_button
    = yield :gallery_back_button
.all-projects.container.blog
  = yield :profile_edit_button
