#cta_box
  .divider
  #action-slug.pull-left
  = link_to "Create an Action!", new_user_registration_path, :class => "pull-right", :id => "home-create-action-btn"
  .clearfix
  #request-debugger.hide
    = request.location.inspect
  .divider
.clearfix
.span3.alpha
  .title
    %h4 Search Categories
  #home_categories_select_wrap
    = render 'project_nav_search'
    .inner
      %ul#home_categories_select
        - @categories.each do |category|
          %li
            = link_to "#{category.name}", category
.span9.omega{id: ""}
  .home-projects-wrap
    .title
      %h4 Featured Projects
    - if @projects.any?
      = render @projects
    - else
      %p Sorry, there are no projects in this category yet...
    .clearfix
    .divider
    = link_to "See All", category_path(:id => "all"), :class => "btn btn-success btn-mini pull-right"
    .clearfix
  .clearfix
  = render 'projects_near_me'
.clearfix
