<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>User Account Info</legend>
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
  </fieldset>

  <fieldset>
    <legend>Contact Info</legend>
      <%= f.input :company %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :fax %>
  </fieldset>
  <fieldset>
    <legend>Address Information</legend>
    <p><small>We need this information because you are assigned projects based on your geographic location.</small></p>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state, :as => :select, :collection => us_states, :required => true %>
    <%= f.input :zip_code, :as => :string %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "adjusters/shared/links" %>
