= simple_form_for @project do |f|
  %fieldset.span9.offset1
    %legend
      Project Category
      %small Select all that apply
    = f.association :categories, :as => :check_boxes, :label => false
    .divider
  .clearfix
  %fieldset.span9.offset1.np-section
    %legend
      Project Info
      %small Basic project information.
    %p
      %strong Goal Amount
      will be automatically set once estimates are uploaded, for construction projects or vendor information has been uploaded, for non-construction projects.
    = f.input :goal_amount, :as => :hidden, :input_html => { :value => 0 }
    = f.input :page_title, :placeholder => "Page Title", "data-ideal" => "required", :input_html => { :maxlength => 60, :class => "input-large" }
    .clearfix
    = render 'toolbar'
    = f.input :page_message, :class => "span8", :rows => "10", "data-ideal" => "required", :input_html => { :id => "wysihtml5-textarea"}, :label => false
    .clearfix
    %p
      %small Make this project private. ( Your project will not show up in searches )
    .make-switch{"data-off-label" => "NO", "data-on-label" => "YES"}
      = f.check_box :private, :label => "Make this project private"
    .divider
  .clearfix
  %fieldset#address_info_wrap.span9.offset1.np-section
    %legend
      Address Info
      %small Required only for construction projects
    .span4
      = f.input :street_address, :placeholder => "Street Address", :label => "Street Address ( construction projects only )"
      = f.input :state, :as => :select, :collection => us_states, :placeholder => "State", :selected => @user.state, :input_html => { :value => "#{@user.state}" }
    / span4
    .span4.pull-right
      = f.input :city, :placeholder => "City", :input_html => { :value => "#{@user.city}" }
      = f.input :zip_code, :as => :string, :placeholder => "Zip Code"
    / span4
    .clearfix
    .divider
  / address_info_wrap
  %fieldset.span9.offset1.np-section
    %legend
      Project Deadline
      %small Set a funding deadline for your project if you want.
    .span4.pull-left
      = f.input :project_deadline, :as => :string, :input_html => { "data-behavior" => "datepicker" }
    .span4.pull-right
      = f.input :reason_for_deadline, :input_html => { :rows => 3 }
  %fieldset.span9.offset1.np-section
    %legend Media
    %p
      %small Here you can upload an image for your project or add a YouTube or Vimeo video.
    %ul#media_select
      %li
        %input{name: "media", type: "radio", value: "image"}>/
        I want to upload an image
      %li
        %input{name: "media", type: "radio", value: "video"}>/
        YouTube/Vimeo Video
    .clearfix
    #upload_options_wrap
      #featured_upload.hide
        = f.label :featured_image, "Upload Your Image:"
        = f.filepicker_field :featured_image, :button_class => "btn btn-primary"
      / featured_upload
      #youtube_add.hide
        %div
          = f.input :featured_video, :placeholder => "YouTube/Vimeo Link", :label => false
      / youtube-add
    / upload_options_wrap
    .clearfix
    .divider
  .span9.offset1.np-section.well
    .submit_project_wrap
      %button#send_new_project.btn.btn-primary.btn-large.needs-acceptance Create Project
      .clearfix
      %small
        By clicking Create Project, you are indicating that you have read and agree to the #{link_to "Terms of Use and Privacy Policy", page_path('policies')}.
  / np-section
  = render 'wysiwyg'
