= div_for(project, :class => "project-card project-friend-card") do
  .project-thumb-wrapper.fp-thumb-wrapper
    %img{alt: "#{project.user.name}", height: "150", src: project.user.facebook_image(150, 200), width: "200"}
  / project-thumb-wrapper
  .clearfix
  %h5.bbcard_name
    = project.user.name
  .divider
  .clearfix
  .fp-friend-wrap
    .fp-friend-left
      - if project.has_video?
        %img.thumbnail{src: "#{project.key}", alt: "#{project.page_title}", width: "61", height: "61"}
      - elsif project.featured_image.present?
        %img.thumbnail{src: "#{project.image_url}", alt: "#{project.page_title}", width: "61", height: "61"}
    .fp-friend-right
      = link_to "#{project.page_title}", project
  .clear
