= div_for(project, :class => "project-card project-friend-card") do
  .project-thumb-wrapper.fp-thumb-wrapper
    %img{alt: "#{project.user.name}", height: "150", src: project.user.facebook_image(150, 200), width: "200"}
  / project-thumb-wrapper
  .clearfix
  %h5.bbcard_name
    = project.user.name
  .divider
  .clearfix
  .fp-friend-wrap
    .fp-friend-left
      %img.thumbnail{alt: "#{project.image_url}", height: "61", src: "#{project.image_url}", width: "61"}
    .fp-friend-right
      = link_to "#{project.page_title}", project
  .clear
