<%= div_for(project, :class => "project-card") do %>
    <% if can? :manage, project %>
        <div class="project_manage_btns">
            <%= link_to "View", project, :class => "btn btn-success btn-mini pull-left" %>
            <%= link_to "Dashboard", dashboard_project_path(project), :class => "btn btn-success btn-mini pull-right" %>
        </div><!-- project_manage_btns -->
    <% end %>
    <div class="project-thumb-wrapper">
        <%= link_to project do %>
        <%= filepicker_image_tag project.featured_image, w: 300, h: 250, fit: 'crop' %>
        <% end %>
    </div><!-- project-thumb-wrapper -->
    <div class="clearfix"></div>
    <h5 class="bbcard_name">
        <%= link_to project do %>
            <%= project.page_title %>
        <% end %>
    </h5>
    <div class="divider"></div>
    <div class="project_excerpt">
    </div><!-- project_excerpt -->
    <div class="clearfix"></div>
    <div class="divider"></div>
    <div class="project_index_statswrap">
        <div class="clearfix"></div>
        <div class="project-index-progress progress progress-striped active bar-green">
            <div style="width: <%= project.percent_funded %>%" class="bar"></div>
        </div><!-- progress -->
        <div class="clearfix"></div>
        <ul class="project-stats">
            <li class="first funded">
                <strong><%= project.percent_funded.to_i %>%</strong>funded
            </li>
            <li class="pledged">
                <strong>$<%= project.goal_amount.to_i %></strong>target
            </li>
            <li class="last ksr_page_timer">
                <strong><%= project.contributions.size %></strong> backers
            </li>
        </ul>
    </div><!--project_index_statswrap -->
    <div class="clear"></div>
<% end %>


