- cache project do
  = div_for(project, :class => "project-card") do
    .project-thumb-wrapper
      = link_to project do
        - unless project.featured_image.blank?
          %img{src: "#{project.image_url}", alt: "#{project.page_title}", width: "200", height: "150"}
    / project-thumb-wrapper
    .clearfix
    %h5.bbcard_name
      = link_to project do
        = project.page_title
    %span.project-byline
      By #{project.user.name}
    .divider
    .project_excerpt
      = truncate(project.stripped_content.html_safe, length: 100)
    / project_excerpt
    .clearfix
    .divider
    .project_index_statswrap
      .clearfix
      .project-index-progress.progress.progress-striped.active.bar-green
        .bar{style: "width: #{project.percent_funded}%"}
      / progress
      .clearfix
      %ul.project-stats
        %li.first.funded
          %strong>
            = project.percent_funded.to_i
            \%
          funded
        %li.pledged
          %strong>
            $#{project.goal_amount.to_i}
          target
        %li.last.ksr_page_timer
          %strong= project.contributions.size
          backers
    / project_index_statswrap
    .clear
