.fb-share-button.share-btn{"data-href" => "#{root_url}projects/#{@project.slug}", "data-type" => "box_count"}
.twitter-share-button.share-btn
  %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "en", "data-url" => "#{root_url}projects/#{@project.slug}", href: "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
/ twitter-share-btn
.linkedin-share-btn.share-btn
  %script{src: "//platform.linkedin.com/in.js", type: "text/javascript"}
    :cdata
      lang: en_US
  %script{"data-counter" => "top", "data-url" => "#{root_url}projects/#{@project.slug}", type: "IN/Share"}
/ linkedin
.pinterest-share-btn.share-btn
  %a{"data-pin-color" => "red", "data-pin-config" => "above", "data-pin-do" => "buttonPin", "data-pin-height" => "28", href: "//www.pinterest.com/pin/create/button/?url=#{root_url}projects/#{@project.slug}&media=#{@project.featured_image}&description=Next%20stop%3A%20Pinterest"}
    %img{src: "//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png"}/
  %script{async: "", src: "//assets.pinterest.com/js/pinit.js", type: "text/javascript"}
/ pinterest
.clearfix
