%ul.social-buttons.cf
  %li
    %a.socialite.twitter-share{"data-count" => "vertical", "data-text" => "#{@project.page_title}", "data-url" => "#{@project.long_link}", href: "http://twitter.com/share", rel: "nofollow", target: "_blank"}
      %span.vhidden Share on Twitter
  %li
    %a.socialite.facebook-like{"data-href" => "#{@project.long_link}", "data-layout" => "box_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "60", href: "http://www.facebook.com/sharer.php?u=#{@project.long_link}", rel: "nofollow", target: "_blank"}
      %span.vhidden Share on Facebook
  %li
    %a.socialite.pinterest-pinit{"data-url" => "#{@project.long_link}", "data-pin-config" => "above", "data-pin-do" => "buttonPin", "data-pin-height" => "28", "data-pin-zero" => "true", href: "http://pinterest.com/pin/create/button/?url=#{@project.long_link}&amp;media=#{@project.key}", rel: "nofollow", target: "_blank"}
      %span.vhidden Pin This
  %li
    %a.socialite.linkedin-share{"data-counter" => "top", "data-url" => "#{@project.long_link}", href: "http://www.linkedin.com/shareArticle?mini=true&url=#{@project.long_link}", rel: "nofollow", target: "_blank"}
      %span.vhidden Share on LinkedIn

= link_to raw("<i class='icon-white icon-print'></i> Print a Flyer").html_safe, project_path(@project, :format => "pdf"), target: "_blank", class: "btn btn-primary btn-large pull-right print-btn-show"
.clearfix
