.span4
  .project-info-wrapper.well
    .project-info
      %h3
        $#{@project.total_contributions.to_i}.00
        %br/
        %span
          raised of  $#{@project.goal_amount.to_i}.00
      .progress.progress-striped.active.bar-green
        .bar{style: "width: #{@project.percent_funded.to_i}%"}
      .funding-info
      .divider
      .funding-minimum
        - if @project.can_accept_donations
          %button#contribute_btn.btn.btn-large.btn-success.sb_main_donate Donate
          .project-deductible-wrap
            %p <strong>* ALL GIFTS ARE TAX DEDUCTIBLE</strong>
    .clear
  .author.well
    %img.thumbnail{alt: "", src: @project.user.facebook_image(245, 245)}
    .author-info
      Project sponsor
      %br/
      = @project.user_link
    .clear
  .well.recent_contributions
    %h5 Recent Contributors
  #recent_contr_wrap
    - if @project.recent_contributions.any?
      - @project.recent_contributions.each do |c|
        = render :partial => 'contributions/contribution', :locals => { :contribution => c }
.clearfix
