<div class="span4 pull-right">
  <div class="project-info-wrapper well">
    <div class="project-info">
      <h3>
        $<%= @project.total_contributions.to_i %>.00 <br>
        <span>raised of  $<%= @project.goal_amount.to_i %>.00</span>
      </h3>
      <div class="progress progress-striped active bar-green">
        <div style="width: <%= @project.percent_funded.to_i %>%" class="bar"></div>
      </div><!-- progress -->
      <div class="funding-info">
      </div><!-- funding-info -->
      <div class="divider"></div>
      <div class="funding-minimum">
          <% if @project.can_accept_donations %>
            <a class="btn btn-large btn-success sb_main_donate" id="contribute_btn">Donate</a>
          <% end %>
      </div><!-- funding-minimum -->
    </div><!-- project-info -->
    <div class="clear"></div>
  </div><!-- project-info-wrapper -->
  <div class="author well">
    <img alt="" src="<%= @project.user.facebook_image(245, 245) %>" class="thumbnail">
    <div class="author-info"> Project sponsor <br>
      <%= link_to @project.user.name, user_path(@project.user) %>
    </div><!-- author-info -->
    <div class="clear"></div>
  </div><!-- author -->
  <div class="well recent_contributions">
  <h5>Recent Contributors</h5>
  <div class="divider"></div>
  <p><small>$<%= @project.total_contributions.to_i %> raised by <%= @project.backer_count %> backers.</small></p>
  <div id="recent_contr_wrap">
    <% @project.contributions.each do |c| %>
      <div class="sb_recent_contr thumbnail">
        <div class="sb_recent_right">
        <span class="sb_recent_amount">$<%= c.amount.to_i %>.00</span>
        <div class="clearfix"></div>
        <% unless c.private? %>
        <span class="sb_backer_name"><%= c.first_name %> <%= c.last_name %></span>
        <% else %>
        <span class="sb_backer_name">Anonymous</span>
        <% end %>
      </div><!-- sb_recent_right -->
      </div>
    <% end %>
  </div><!-- recent_contr_wrap -->

</div><!-- recent donations -->
</div><!-- /.span4 -->
<div class="clearfix"></div>