<% if @project.needs_contractor %>
<% unless @project.has_contractor %>
<div class="alert alert-error">
  You need to select a contractor!
</div>
<% end %>
<% end %>
<% if @project.needs_vendors %>
<% unless @project.vendors.any? %>
<div class="alert alert-error">
  You need to add some vendors!
</div>
<% end %>
<% end %>

<div class="span8">
  <ul class="nav nav-tabs" id="dash-tabs">
    <li class="active"><a data-target="#home" class="btn btn-success">Home</a></li>
    <li><a data-target="#edit" class="btn btn-success">Edit</a></li>
    <li><a data-target="#share" class="btn btn-success">Share</a></li>
    <li><a data-target="#settings" class="btn btn-success">Settings</a></li>
    <li><a data-target="#galleries" class="btn btn-success">Galleries (<span id="galleries-count"><%= @project.galleries.size %></span>)</a></li>
    <% if @project.needs_contractor %>
    <li>
      <a data-target="#contractor" class="btn btn-success">Contractor</a>
    </li>
    <% end %>
    <% if @project.needs_vendors %>
    <li><a data-target="#vendors" class="btn btn-success">Vendors (<span id="vendors-count"><%= @vendors.size %></span>)</a></li>
    <% end %>
    <% if @project.has_estimate? %>
    <li><a data-target="#estimates" class="btn btn-success">Estimates</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div id="project_dashboard_response_box" class="alert hide">Your project has been updated!</div>
    <div class="tab-pane active" id="home">
      <div class="divider"></div>
      <h4>Your Project Updates</h4>
      <div class="alert hide" id="update_response"></div>
      <div id="updates_formwrap">
        <div id="dashboard_updates_wrap">
          <%= render @updates %>
        </div><!-- dashboard_updates_wrap -->
        <div id="dashboard_updates_form_wrap">
          <%= render 'updates/form', :update => Update.new %>
        </div><!-- dashboard_updates_form_wrap -->
        <a href="#new_update_modal" data-toggle="modal" class="btn btn-success">Post a new Update</a>
      </div>
    </div><!-- home -->
    <%= render "projects/dashboard/project_edit_form" %>
    <%= render 'projects/dashboard/share_tab' %>
    <%= render 'projects/dashboard/settings_tab' %>
    <%= render 'projects/dashboard/galleries_tab' %>
    <% if @project.needs_contractor %>
    <div class="tab-pane" id="contractor">
      <div id="contractor_review_response" class="alert hide"></div>
      <% if @contractor %>
      <%= render 'selected_contractor' %>
      <% else %>
      <div id="contractor_search">
        <p>Looking for a specific Contractor that's not listed below? Use this form to search for them by company name:</p>
        <%= form_tag(contractors_search_path, :id => "contractor_search_form", :method => "post", :remote => true ) do %>
          <%= label_tag :name, "Company Name" %>
          <%= text_field_tag :name %>
          <%= hidden_field_tag :project_id, @project.id %>
          <button id="contractor-search-btn" class="btn btn-primary btn-large" data-disable-with="Searching...">Search</button>
        <% end %>
      </div><!-- contractor_search -->
      <hr>
      <div id="contractor_search_response" class="alert hide">

      </div><!-- contractor_search_response -->
      <div id="contractor_results_wrap">
        <%= render 'contractor_small' %>
      </div><!-- contractor_results_wrap -->
      <% end %>
    </div>
    <% end %>
    <% if @project.needs_vendors %>
    <%= render 'projects/dashboard/vendor_tab' %>
    <% end %>
    <% if @project.has_estimate? %>
    <%= render 'projects/dashboard/estimates_tab' %>
    <% end %>
  </div><!-- tab content -->
</div><!-- span8 -->
<div class="span3 pull-right">
  <div class="well price_update">
    <p>You've raised</p>
    <h3>$<%= @project.total_contributions %></h3>
    <p>from</p>
    <h3><%= @project.backer_count %></h3>
    <p>backers</p>
  </div>
</div>
<%= render 'contractor_modal' %>
<div id="contractor_selected_modal_wrap"></div><!-- contractor_selected_modal_wrapper -->
<div id="contractor_review_modal_wrap">
  <% if @contractor %>
  <%= render 'contractor_review_modal' %>
  <% end %>
</div><!-- contractor_review_modal_wrap -->
<% content_for :back_to_project_button do %>
<%= link_to "Back to Project", project_path(@project), :class => "btn btn-success project-dashboard-link pull-right" %>
<% end %>
  <%= render 'funded_modal' %>

