- if @project.needs_contractor
  - unless @project.has_contractor
    .alert.alert-error
      You need to select a contractor!
- if @project.needs_vendors
  - unless @project.vendors.any?
    .alert.alert-error
      You need to add some vendors!
.span8
  %ul#dash-tabs.nav.nav-tabs
    %li.active
      %a.btn.btn-success{"data-target" => "#home"} Home
    %li
      %a.btn.btn-success{"data-target" => "#edit"} Edit
    %li
      %a.btn.btn-success{"data-target" => "#share"} Share
    %li
      %a.btn.btn-success{"data-target" => "#settings"} Settings
    %li
      %a.btn.btn-success{"data-target" => "#galleries"}
        Galleries (
        %span#galleries-count>= @project.galleries.size
        )
    - if @project.needs_contractor
      %li
        %a.btn.btn-success{"data-target" => "#contractor"} Contractor
    - if @project.needs_vendors
      %li
        %a.btn.btn-success{"data-target" => "#vendors"}
          Vendors (
          %span#vendors-count>= @vendors.size
          )
    - if @project.has_estimate?
      %li
        %a.btn.btn-success{"data-target" => "#estimates"} Estimates
  .tab-content
    #project_dashboard_response_box.alert.hide Your project has been updated!
    #home.tab-pane.active
      .divider
      %h4 Your Project Updates
      #update_response.alert.hide
      #updates_formwrap
        #dashboard_updates_wrap
          = render @updates
        / dashboard_updates_wrap
        #dashboard_updates_form_wrap
          = render 'updates/form', :update => Update.new
        / dashboard_updates_form_wrap
        %a.btn.btn-success{"data-toggle" => "modal", href: "#new_update_modal"} Post a new Update
    / home
    = render "projects/dashboard/project_edit_form"
    = render 'projects/dashboard/share_tab'
    = render 'projects/dashboard/settings_tab'
    = render 'projects/dashboard/galleries_tab'
    - if @project.needs_contractor
      #contractor.tab-pane
        #contractor_review_response.alert.hide
        - if @contractor
          = render 'selected_contractor'
        - else
          #contractor_search
            %p Looking for a specific Contractor that's not listed below? Use this form to search for them by company name:
            = form_tag(contractors_search_path, :id => "contractor_search_form", :method => "post", :remote => true ) do
              = label_tag :name, "Company Name"
              = text_field_tag :name
              = hidden_field_tag :project_id, @project.id
              %button#contractor-search-btn.btn.btn-primary.btn-large{"data-disable-with" => "Searching..."} Search
          / contractor_search
          %hr/
          #contractor_search_response.alert.hide
          / contractor_search_response
          #contractor_results_wrap
            = render 'contractor_small'
          / contractor_results_wrap
    - if @project.needs_vendors
      = render 'projects/dashboard/vendor_tab'
    - if @project.has_estimate?
      = render 'projects/dashboard/estimates_tab'
  / tab content
/ span8
.span3.pull-right
  .well.price_update
    %p You've raised
    %h3
      $#{@project.total_contributions}
    %p from
    %h3= @project.backer_count
    %p backers
= render 'contractor_modal'
#contractor_selected_modal_wrap
/ contractor_selected_modal_wrapper
#contractor_review_modal_wrap
  - if @contractor
    = render 'contractor_review_modal'
/ contractor_review_modal_wrap
- content_for :back_to_project_button do
  = link_to "Back to Project", project_path(@project), :class => "btn btn-success project-dashboard-link pull-right"
= render 'funded_modal'
