.span8
  = render 'projects/dashboard/dashboard_nav'
  #project_dashboard_response_box.alert.hide Your project has been updated!
  #home.tab-pane.active
    .divider
    %h4 Your Project Updates
    #update_response.alert.hide
    #updates_formwrap
      #dashboard_updates_wrap
        = render @updates
      #dashboard_updates_form_wrap
        = render 'updates/form', :update => Update.new
      / dashboard_updates_form_wrap
      %a.btn.btn-success{"data-toggle" => "modal", href: "#new_update_modal"} Post a new Update
= render 'projects/dashboard/dashboard_sidebar'
/ contractor_review_modal_wrap
- content_for :back_to_project_button do
  = link_to "Back to Project", project_path(@project), :class => "btn btn-success project-dashboard-link pull-right"
= render 'projects/modals/excess_funds_modal'
= render 'projects/modals/project_response_modal'
- if @project.funded?
  - unless @project.funded_decision_made?
    = render 'projects/modals/funded_modal'
