#home_categories_select_wrap
  = render 'home/project_nav_search'
  .inner
    %ul#home_categories_select
      - @categories.each do |category|
        %li
          = link_to "#{category.name}", category, :class => current_class?(category_path(category))
.span7
  #category_index_wrapper
    - if @projects.any?
      = render @projects
    - else
      %h4
        Sorry, no results for the query "#{@query}"
