<div class="span8">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a class="btn btn-success" data-toggle="tab" href="#tab1">Home</a>
      </li>
      <li>
        <a class="btn btn-success" data-toggle="tab" href="#tab2">Updates</a>
      </li>
      <li>
        <a class="btn btn-success" data-toggle="tab" href="#tab3">Backers</a>
      </li>
      <li>
        <a class="btn btn-success" data-toggle="tab" href="#tab4">Comments</a>
      </li>
      <% if @project.galleries.any? %>
      <li>
        <a class="btn btn-success" href="#tab5" data-toggle="tab">Galleries (<%= @galleries.size %>)</a>
      </li>
      <% end %>
      <% if @project.has_estimate? %>
        <li>
          <a href="#tab6" data-toggle="tab" class="btn btn-success">Estimates</a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
        <div class="project_show_main_image">
          <% if @project.has_video? %>
            <%= @project.featured_video_html %>
          <% else %>
            <%= filepicker_image_tag @project.featured_image, w: 770, h: 300, fit: 'crop', align: 'faces' %>
          <% end %>
        </div><!-- project_show_main_image -->
        <div class="project-social well">
          <%= render "share_buttons" %>
        </div><!-- project-social -->
        <div class="project-content well">
          <%= @project.page_message.html_safe %>
        </div><!-- project-content -->
      </div><!-- project info tab end -->
      <%= render "tab_updates" %>
      <%= render "tab_backers" %>
      <%= render "tab_comments" %>
      <% if @project.galleries.any? %>
        <%= render "tab_galleries" %>
      <% end %>
      <% if @project.has_estimate? %>
        <%= render 'tab_estimates' %>
      <% end %>
    </div><!-- tab-content -->
  </div><!-- tabable -->
</div><!-- span8 -->
<%= render "sidebar" %>
<% content_for :user_info do %>
  <%= link_to "by", user_path(@project.user.id) %>
  <%= link_to @project.user.name, user_path(@project.user.id) %>
<% end %>

<% content_for :open_graph_tags do %>
  <meta property="og:type" content="comphuman:project" />
  <meta property="og:url" content="<%= @project.long_link %>" />
  <meta property="og:title" content="<%= @project.page_title %>" />
  <meta property="og:description" content="<%= @project.page_message.html_safe%>" />
  <meta property="og:site_name" content="CompassionForHumanity.org" />
  <meta property="og:image" content="<%= @project.featured_image %>" />
<% end %>

<% if user_signed_in? %>
  <% if can? :manage, @project %>
    <%= content_for :action_buttons do %>
      <%= link_to "Project Dashboard", dashboard_project_path(@project), :class => "project-dashboard-link btn btn-success" %>
    <% end %>
  <% end %>
<% end %>
<%= render 'contributions/contribution_modal' %>