.span8
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a.btn.btn-success{"data-toggle" => "tab", href: "#tab1"} Home
      %li
        %a.btn.btn-success{"data-toggle" => "tab", href: "#tab2"} Updates
      %li
        %a.btn.btn-success{"data-toggle" => "tab", href: "#tab3"} Backers
      %li
        %a.btn.btn-success{"data-toggle" => "tab", href: "#tab4"} Comments
      - if @project.galleries.any?
        %li
          %a.btn.btn-success{"data-toggle" => "tab", href: "#tab5"}
            Galleries (#{@project.galleries.size})
      - if @project.has_estimate?
        %li
          %a.btn.btn-success{"data-toggle" => "tab", href: "#tab6"} Estimates
    .tab-content
      #tab1.tab-pane.active
        .project_show_main_image
          = @project.display_featured
        .project-social.well
          = render 'share_buttons'
        .project-content.well
          = @project.page_message
      = render "projects/tabs/tab_updates"
      = render "projects/tabs/tab_backers"
      = render "projects/tabs/tab_comments"
      - if @project.galleries.any?
        = render "projects/tabs/tab_galleries"
      - if @project.has_estimate?
        = render 'projects/tabs/tab_estimates'
= render "sidebar"
- content_for :user_info do
  = link_to "by", user_path(@project.user)
  = @project.user_link
- content_for :open_graph_tags do
  %meta{content: "comphuman:project", property: "og:type"}/
  %meta{content: @project.long_link, property: "og:url"}/
  %meta{content: @project.page_title, property: "og:title"}/
  %meta{content: @project.page_message, property: "og:description"}/
  %meta{content: "CompassionForHumanity.org", property: "og:site_name"}/
  - unless @project.featured_image.blank?
    %meta{content: @project.image_url, property: "og:image"}/
- if user_signed_in?
  - if current_user.can_manage_project(@project.model)
    = content_for :action_buttons do
      = link_to "Project Dashboard", dashboard_project_path(@project.model), :class => "project-dashboard-link btn btn-success visible-desktop"
= render 'contributions/contribution_modal'
= render 'shared/filepickerjs'
