  <%= simple_form_for(@contribution, :url => project_contributions_path(@project, @contribution), :html => { :class => "form-horizontal"}, :remote => true) do |f| %>
  <section class="step" data-step-title="Your Information">
    <div class="contribution-error hide alert">
      <span></span>
    </div>
    <%= f.input :amount, :as => :string, :input_html => { :placeholder => "0.00" } %>
    <%= f.input :first_name, :input_html => { :placeholder => "First Name" } %>
    <%= f.input :last_name, :input_html => { :placeholder => "Last Name" } %>
    <%= f.input :email, :input_html => { :placeholder => "Email" } %>
    <%= f.label :image, :class => "string control-lable" %>
    <%= f.filepicker_field :image, :button_class => "btn btn-primary" %>
    <div class="clearfix"></div>
    <%= f.input :private %>
  </section>

  <!-- second panel -->
  <section class="step" data-step-title="Payment Information">
    <div id="stripe_error" class="alert danger hide"></div>
    <%= f.hidden_field :stripe_card_token %>
    <% if @contribution.stripe_card_token.present? %>
      Credit card has been provided.
    <% else %>
      <div class="control-group string card_number">
        <%= label_tag :card_number, "Credit Card Number", :class => "string required control-label" %>
        <div class="controls">
          <%= text_field_tag :card_number, nil, name: nil, :class => "string" %>
        </div>
      </div><!-- credit-card-number -->
      <div class="control-group string card_code">
        <%= label_tag :card_code, "Security Code on Card (CVV)", :class => "string required control-label" %>
        <div class="controls">
          <%= text_field_tag :card_code, nil, name: nil, :class => "input-small string" %>
        </div><!-- controls -->
      </div><!-- security code -->
        <div class="control-group string card_expiration">
          <%= label_tag :card_month, "Card Expiration", :class => "string required control-label" %>
          <div class="controls">
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :class => "input-medium"} %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => "input-medium"} %>
          </div>
      </div><!-- card_expiration -->
    <% end %>
    <div class="clearfix"></div>
    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <%= f.input :comments, :as => :text, :input_html => { :rows => "5" } %>
  </section>

  <!-- end second panel -->

<% end %>

