<div id="profile" class="tab-pane">
  <%= simple_form_for(@adjuster, :html => { :method => "put", :multipart => true, :autocomplete => "off" }, :remote => true) do |f| %>
  <div id="adjuster_update_errors" class="alert hide">
  </div>
  <fieldset>
    <legend>User Info</legend>
    <div class="one-half pull-left">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password_confirmation, :required => false, :autocomplete => "off" %>
    </div>
    <div class="one-half pull-right">
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    </div>
    <div class="clearfix"></div>
  </fieldset>
  <fieldset>
    <legend>Contact Info</legend>
    <div class="one-half pull-left">
      <%= f.input :company %>
      <%= f.input :last_name %>
      <%= f.input :cell_phone, :as => :string %>
    </div>
    <div class="one-half pull-right">
      <%= f.input :first_name %>
      <%= f.input :phone, :as => :string %>
      <%= f.input :fax %>
    </div>
    <div class="clearfix"></div>
  </fieldset>
  <fieldset>
    <legend>Address Information</legend>
    <p><small>We need this information because you are assigned projects based on your geographic location.</small></p>
    <div class="one-half pull-left">
      <%= f.input :street_address %>
    </div>
    <div class="one-half pull-right">
      <%= f.input :city %>
      <%= f.input :zip_code, :as => :string %>
    </div>
    <div class="clearfix"></div>
  </fieldset>
  <fieldset>
    <legend>Licensing Information</legend>
    <div class="one-half pull-left">
      <%= f.input :state_licensed_in, :as => :string, :label => "States licensed in" %>
      <%= f.input :date_license_issued, :as => :date, :label => "Date license issued" %>
      <%= f.input :license, :label => "Please upload a copy of your license." %>
      <div id="adjuster_license_display">
        <% unless @adjuster.license.blank? %>
          <p><a href="<%= @adjuster.license %>" target="_blank"><%= @adjuster.license %></a></p>
        <% end %>
      </div><!-- adjuster_license_display -->
    </div>
    <div class="one-half pull-right">
      <%= f.input :license_number %>
      <%= f.input :license_expiration_date, :as => :date, :label => "License Expiration Date" %>
    </div>
    <div class="clearfix"></div>
  </fieldset>
  <hr>
  <%= f.button :submit, "Update Profile", :class => "btn btn-primary pull-right", "data-disable-with" => "Updating..." %>
  <div class="clearfix"></div>
  <% end %>
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
</div><!-- profile -->