#profile.tab-pane
  = simple_form_for(@adjuster, :html => { :method => "put", :multipart => true, :autocomplete => "off" }, :remote => true) do |f|
    #adjuster_update_errors.alert.hide
    %fieldset
      %legend User Info
      .one-half.pull-left
        = f.input :email, :required => true, :autofocus => true
        = f.input :password_confirmation, :required => false, :autocomplete => "off"
      .one-half.pull-right
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      .clearfix
    %fieldset
      %legend Contact Info
      .one-half.pull-left
        = f.input :company
        = f.input :last_name
        = f.input :cell_phone, :as => :string
      .one-half.pull-right
        = f.input :first_name
        = f.input :phone, :as => :string
        = f.input :fax
      .clearfix
    %fieldset
      %legend Address Information
      %p
        %small We need this information because you are assigned projects based on your geographic location.
      .one-half.pull-left
        = f.input :street_address
      .one-half.pull-right
        = f.input :city
        = f.input :zip_code, :as => :string
      .clearfix
    %fieldset
      %legend Licensing Information
      .one-half.pull-left
        = f.input :state_licensed_in, :as => :string, :label => "States licensed in"
        = f.input :date_license_issued, :as => :date, :label => "Date license issued"
        = f.input :license, :label => "Please upload a copy of your license."
        #adjuster_license_display
          - unless @adjuster.license.blank?
            %p
              %a{href: @adjuster.license, target: "_blank"}= @adjuster.license
        / adjuster_license_display
      .one-half.pull-right
        = f.input :license_number
        = f.input :license_expiration_date, :as => :date, :label => "License Expiration Date"
      .clearfix
    %hr/
    = f.button :submit, "Update Profile", :class => "btn btn-primary pull-right", "data-disable-with" => "Updating..."
    .clearfix
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
/ profile
