<div class="contractor_small">
  <div class="ci_logo">
    <div class="thumbnail">
      <%= filepicker_image_tag @contractor.logo, h: 75, fit: 'clip', :class => "thumbnail" %>
    </div>
  </div><!-- ci_logo -->
  <div class="ci_namelink">
    <h5><%= @contractor.name %> - <%= @contractor.city %>, <%= @contractor.state %></h5>
    <p><%= @contractor.address %><br/>
      Phone: <%= @contractor.owner_phone %><br/>
    </p>
  </div><!-- ci_namelink -->
  <div class="ci_tradeslist">
    <p><strong>Services:</strong>
      <% @contractor.trades.each do |trade| %>
      <%= trade.name + "," %>
      <% end %>
    </p>
  </div><!-- ci_tradeslist -->
  <div class="ci_button_wrap pull-right">
    <%= link_to "Profile", contractor_path(@contractor, :fromdash => true), :class => "btn btn-success btn-block btn-top", :target => "_blank" %>
    <div class="clearfix"></div>
    <%= button_to "Select", project_contractor_selections_path(@project, :contractor_id => @contractor.id), :class => "btn btn-primary btn-block", :remote => true, :method => "post", :confirm => "btn-primary btn-block", :remote => true, :method => "post", :confirm => "You have selected #{@contractor.name} as you Approved Contractor. Once you select the OK button below, you will not be able to change contractors." %>
  </div><!-- ci_button_wrap -->
</div><!-- contractor_index_main_container -->