<ul class="nav nav-tabs">
  <li>
    <a href="#home" data-toggle="tab" class="active btn btn-success">Home</a>
  </li>
  <li>
    <a href="#company_info" data-toggle="tab" class="btn btn-success">Company Info</a>
  </li>
  <li>
    <a href="#projects" data-toggle="tab" class="btn btn-success">Projects ( <%= @contractor.projects.size %> )</a>
  </li>
  <li>
    <a href="#profile" data-toggle="tab" class="btn btn-success">Edit Profile</a>
  </li>
</ul><!-- nav-tabs -->
<div id="contractor_dashboard_update_message" class="alert hide">Successfully updated your information!</div>
<div class="tab-content">
  <%= render "contractors/dashboard/tab_home" %>
  <%= render "contractors/dashboard/tab_company_info" %>
  <%= render "contractors/dashboard/tab_projects" %>
  <%= render "contractors/dashboard/tab_profile" %>
</div><!-- tab-content -->
<script>
  $(document).ready(function() {
    $("#add_new_dashboard_reference").click(function() {
      $("#new_dashboard_reference").html("<%= j render 'contractors/dashboard/reference_form' %>").effect('highlight');
    });
  });
</script>