.span12
  #contractor-title-wrap
    .title
      %h4 Approved Contractors
  #contractor-apply-wrap
    %p <a href="#{new_contractor_registration_path}">Apply Here</a> to become an approved contractor
  .clearfix
  .divider
  .row
    #contractor-index-search-wrap.span4
      = render 'index_search_form'
    - if params[:query]
      #contractor-clear-search-wrap.span2.pull-right
        = link_to "Clear Search", contractors_path, class: "btn pull-right"
    .clearfix
  .divider
.clearfix
#contractor-index-wrap.span12
  = render @contractors
  = will_paginate @contractors, renderer: BootstrapPagination::Rails
- content_for :contractor_login_button do
  = link_to "Contractor Login", new_contractor_session_path, :class => "btn btn-success pull-right", :id => "contractor-login-btn"

