<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :addres2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip_code %>
    <%= f.input :address_type %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
