<%= simple_form_for(@reference) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :reference_type %>
    <%= f.input :company_name %>
    <%= f.input :time_affiliated %>
    <%= f.input :contact_first_name %>
    <%= f.input :contact_last_name %>
    <%= f.input :address %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip_code %>
    <%= f.input :phone_number %>
    <%= f.input :email %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
