<% current_contractor.references.each_with_index do |reference, i| %>
<div class="dashboard_reference" id="reference_list_<%= reference.id %>">
  <p><strong>Reference <%= i + 1 %></strong></p>
  <div class="divider"></div>
<div class="span4">
  <p><strong>Reference Type: </strong><%= reference.reference_type %></p>
  <p><strong>Time Affiliated: </strong><%= reference.time_affiliated %></p>
  <p><strong>State: </strong><%= reference.state %></p>
</div>
<div class="span4">
  <p><strong>Company Name: </strong><%= reference.company_name %></p>
  <p><strong>Address: </strong><%= reference.address %></p>
  <p><strong>Zip Code: </strong><%= reference.zip_code %></p>
</div>
<div class="span3">
 <p><strong>Reference Name: </strong><%= reference.contact_first_name %> <%= reference.contact_last_name %></p>
 <p><strong>City: <%= reference.city %></strong></p>
 <p><strong>Phone: </strong><%= reference.phone_number %></p>
</div>
</div>
<div class="clearfix"></div>
<div class="divider"></div>
<% end %>