%h1 Listing references

%table
  %tr
    %th Contractor
    %th Company name
    %th Time affiliated
    %th Contact first name
    %th Contact last name
    %th Address
    %th Address2
    %th City
    %th State
    %th Zip code
    %th Phone number
    %th Email
    %th Reference type
    %th
    %th
    %th

  - @references.each do |reference|
    %tr
      %td= reference.contractor_id
      %td= reference.company_name
      %td= reference.time_affiliated
      %td= reference.contact_first_name
      %td= reference.contact_last_name
      %td= reference.address
      %td= reference.address2
      %td= reference.city
      %td= reference.state
      %td= reference.zip_code
      %td= reference.phone_number
      %td= reference.email
      %td= reference.reference_type
      %td= link_to 'Show', reference
      %td= link_to 'Edit', edit_reference_path(reference)
      %td= link_to 'Destroy', reference, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reference', new_reference_path
