%p#notice= notice

%p
  %b Contractor:
  = @reference.contractor_id
%p
  %b Company name:
  = @reference.company_name
%p
  %b Time affiliated:
  = @reference.time_affiliated
%p
  %b Contact first name:
  = @reference.contact_first_name
%p
  %b Contact last name:
  = @reference.contact_last_name
%p
  %b Address:
  = @reference.address
%p
  %b Address2:
  = @reference.address2
%p
  %b City:
  = @reference.city
%p
  %b State:
  = @reference.state
%p
  %b Zip code:
  = @reference.zip_code
%p
  %b Phone number:
  = @reference.phone_number
%p
  %b Email:
  = @reference.email
%p
  %b Reference type:
  = @reference.reference_type

= link_to 'Edit', edit_reference_path(@reference)
\|
= link_to 'Back', references_path
