<%= div_for(photo, :class => "span2") do |photo| %>
  <a class="sb thumbnail" href="<%= photo.image %>" title="<%= photo.caption %>"><img src="<%= photo.image %>"></a>
  <p><small><strong><%= photo.caption %></strong></small></p>
  <% if current_user.can_manage_gallery?(photo.gallery) %>
    <hr>
    <%= button_to "Delete", photo, :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this photo?", :class => "btn btn-danger btn-mini" %>
    <% end %>
<% end %>
