<%= div_for(photo, :class => "span2") do |photo| %>
  <a class="photo-lightbox-trigger thumbnail" href="<%= photo.image %>"><img src="<%= photo.image %>" title="<%= photo.caption %>"></a>
  <p><small><strong><%= photo.caption %></strong></small></p>
  <% if can? :manage, photo %>
    <hr>
    <%= button_to "Delete", photo, :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this photo?", :class => "btn btn-danger btn-mini" %>
    <% end %>
<% end %>