= div_for(gallery, :class => "span2") do |gallery|
  .gallery_thumb.thumbnail
    .gallery-title
      %span= gallery.title
    - if gallery.is_project_gallery?
      = link_to project_gallery_path(@project,gallery) do
        - if gallery.photos.any?
          %img{alt: "", src: gallery.photos.first.image, width: "150", height: "150"}
        - else
          = image_tag "no-image.jpg", width: "150", height: "150"
    - elsif gallery.is_contractor_gallery?
      = link_to contractor_gallery_path(@contractor,gallery) do
        - if gallery.photos.any?
          %img{alt: "", src: gallery.photos.first.image_url, width: "150", height: "150"}
        - else
          = image_tag "no-image.jpg", width: "150", height: "150"
  - if gallery.is_project_gallery?
    - if user_signed_in?
      - if current_user.can_manage_gallery?(gallery)
        .gallery_actions.btn-group.visible-desktop
          = link_to "Edit", edit_project_gallery_path(@project,gallery), :class => "btn btn-mini btn-success"
          = button_to "Delete", gallery, :method => :delete, :confirm => "Are you sure you want to delete this gallery?", :remote => true, :class => "btn btn-mini btn-danger"
          .clearfix
  - elsif gallery.is_contractor_gallery?
    - if contractor_signed_in?
      - if current_contractor.can_manage_gallery?(gallery)
        .gallery_actions.btn-group.visible-desktop
          = link_to "Edit", edit_contractor_gallery_path(@contractor,gallery), :class => "btn btn-mini btn-success"
          = button_to "Delete", gallery, :method => :delete, :confirm => "Are you sure you want to delete this gallery?", :remote => true, :class => "btn btn-mini btn-danger"
          .clearfix
