#home_categories_select_wrap.span3.alpha
  = render 'home/project_nav_search'
  .inner
    %ul#home_categories_select
      - @categories.each do |category|
        %li{class: current_class?(category_path(category))}
          = link_to "#{category.name}", category
.span9.omega{id: ""}
  - if @projects.any?
    = render @projects
    = will_paginate @projects, renderer: BootstrapPagination::Rails
  - else
    %h4
      Sorry, no results for the query "#{@query}"
.clearfix
