<div class="span4 alpha" id="home_categories_select_wrap">
  <%= render 'home/project_nav_search' %>
  <div class="inner">
    <ul id="home_categories_select">
      <% @categories.each do |category| %>
      <li class="<%= current_class?(category_path(category)) %>">
        <%= link_to "#{category.name}", category %>
      </li>
      <% end %>
    </ul>
  </div><!-- inner -->
</div><!-- /.span3 -->
<div id="" class="span9 omega">
  <% if @projects.any? %>
    <%= render @projects %>
    <% else %>
      <h4>No project is <%= @category.name %> yet!</h4>
    <% end %>
</div><!-- span7 -->
<div class="clearfix"></div>
