<!DOCTYPE html>
<html ng-app="compapp">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title><%= @page_title %> | Compassion for Humanity</title>
    <%= yield :open_graph_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= gmaps4rails_api_script_tags %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="root">
  <div id="fb-root">
    <script type="text/javascript">
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= ENV['FB_APP_ID'] %>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </div>
  <%= yield :share_on_fb_js %>
        <%= render "shared/header" %>
        <% if controller_name == "home" %>
          <%= render "home/slider" %>
          <% else %>
        <%= render "shared/sub_header" %>
        <% end %>
        <%= render "layouts/messages" %>
        <div class="container">
          <div class="row"><%= yield %></div>
        </div>
        <%= render "shared/footer" %>
        <%= render "shared/sign_in_modal" %>
        <%= render "shared/registration_modal" %>
        <%= yield :filepicker_javascript %>
        <% if Rails.env.production?  %>
          <%= render "shared/analytics" %>
        <% end %>
    </body>
</html>
