<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1,user-scalable=yes,width=1170">
    <title><%= @page_title %> | Compassion for Humanity</title>
    <%= yield :open_graph_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= render 'shared/filepickerjs' %>
    <%= favicon_link_tag %>
    <%= gmaps4rails_api_script_tags %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="bodywrap">
    <div id="root">
    <div id="fb-root"></div>
    <%= yield :share_on_fb_js %>
      <script type="text/javascript">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= ENV['FB_APP_ID'] %>";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

        <%= render "shared/header" %>
        <% if controller_name == "home" %>
          <%= render "home/slider" %>
          <% else %>
        <%= render "shared/sub_header" %>
        <% end %>
        <%= render "layouts/messages" %>
        <div class="container">
          <div class="row"><%= yield %></div>
        </div>
        <%= render "shared/footer" %>
        <%= render "shared/sign_in_modal" %>
        <% if cookies[:beta_access] %>
          <%= render "shared/registration_modal" %>
        <% else %>
          <%= render "shared/beta_registration_modal" %>
        <% end %>
      </div><!-- bodywrap -->
      <% if Rails.env.production?  %>
        <%= render "shared/analytics" %>
      <% end %>
      <%= yield :disclaimer_modal %>
    </body>
</html>
