<!DOCTYPE html>
<html ng-app="compapp">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title><%= @page_title %> | Compassion for Humanity</title>
    <%= yield :open_graph_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="root">
  <div id="fb-root">
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= ENV['FB_APP_ID'] %>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </div>
        <%= render "shared/header" %>
        <% if controller_name == "home" %>
          <%= render "home/slider" %>
          <% else %>
        <%= render "shared/sub_header" %>
        <% end %>
        <%= render "layouts/messages" %>
        <%= yield %>
        <%= render "shared/footer" %>
        <%= render "shared/sign_in_modal" %>
        <%= render "shared/registration_modal" %>
        <% if Rails.env.production?  %>
          <%= render "shared/analytics" %>
        <% end %>
        <script>
        (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
        </script>
    </body>
</html>
